.navbar {
  min-height: 70px;
  font-size: 2rem !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: background 0.3s linear;
  overflow: hidden;
}

.navbar-fasten {
  background: rgba(233, 233, 233, 0.8);
}

.navbar-brand {
  color: rgba(0, 0, 0, .5);
  letter-spacing: .0625em;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-item {
  margin-right: 40px;
}

.low-sum {
  background-color: rgb(255, 81, 83, .2);
}

.high-sum {
  background-color: rgb(36, 255, 130, .3)
}

.mat-icon {
  margin: 10px;
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.mat-icon:hover {
  cursor: pointer;
}

.basket-text {
  font-size: 12pt;
  color: black;
}

.logged-text {
  margin-left: 15px;
  font-size: 12pt;
  color: black;
}
