.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: absolute;
  top: 0;
  z-index: 14;
}

.mat-sidenav-content {
  padding-top: 5px;
  height: 90vh;
}

.example-container {
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.example-is-mobile .example-toolbar {
  position: absolute;
  height: 100vh;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.menuButton {
  width: 80%;
  margin: 15px;
}

.left-alight-table {
  width: 100%;
}

.mat-h1 {
  margin: 20px;
}

.shoppingMessage {
  margin: 40px;
}

.shoppingButton {
  width: 200px;
  height: 70px;
  margin: 40px;
  font-size: 20pt;
}

tr.mat-footer-row {
  font-weight: bold;
}
