<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <button class="menuButton" mat-raised-button color="accent" (click)="backToHomePage()">Back To Home Page</button>
    <button class="menuButton" mat-raised-button color="basic" [disabled]="dataSource.data.length == 0"
      (click)="makeOrder()">Place Order</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1 class="mat-h1">Basket</h1>
    <div class="shoppingMessage" *ngIf="dataSource.data.length == 0">
      <h1>Your basket is empty.</h1>
    </div>
    <div class="table-container mat-elevation-z8" *ngIf="dataSource.data.length > 0">
      <table mat-table class="left-alight-table" [dataSource]="dataSource" matSort aria-label="Elements">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
          <td mat-footer-cell *matFooterCellDef>Total price</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price For One</th>
          <td mat-cell *matCellDef="let row">${{basketService.getPriceForProduct(row)}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Reserved</th>
          <td mat-cell *matCellDef="let row">{{row.reserved}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let row">${{basketService.getPriceForProduct(row) * row.reserved}}</td>
          <td mat-footer-cell *matFooterCellDef>${{totalSum}} </td>
        </ng-container>
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button class="menuButton" mat-raised-button color='basic' (click)="addOneToBasket(row)">Add Another
              One</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button class="menuButton" mat-raised-button color='accent' (click)="removeOneFromBasket(row)"
              [disabled]="disableButton(row)">Remove One</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button class="menuButton" mat-raised-button color='warn' (click)="deleteFromBasket(row)">Delete From
              Basket</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsFooter"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>