<div class="grid-container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Sorting Type" [(ngModel)]="sortingTitle" (selectionChange)="sortingChanged($event)">
            <mat-option *ngFor="let sortType of productsService.allSortingTypes" value="{{sortType.title}}">
                {{sortType.title}} </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-grid-list cols="3" rowHeight="690px" matSort>
        <mat-grid-tile *ngFor="let product of presentedProducts" [colspan]="1" [rowspan]="1">
            <app-product [product]="product"></app-product>
        </mat-grid-tile>
    </mat-grid-list>
</div>